src/c/** gitlab-language=c linguist-language=c linguist-detectable=true
src/h/** gitlab-language=c linguist-language=c linguist-detectable=true
src/c++/** gitlab-language=cpp linguist-language=cpp linguist-detectable=true
src/bas/** gitlab-language=bbcbasic linguist-language=bbcbasic linguist-detectable=true
src/s/** gitlab-language=assembly linguist-language=assembly linguist-detectable=true
src/fth/** gitlab-language=forth linguist-language=forth linguist-detectable=true

